In [20]:
import pandas as pd
from pathlib import Path
import pyreadstat

# Nolan

In [42]:
nolan_metadata = pd.read_csv(
    '/Users/leo/Documents/gpl/eop/overseen_work/nolan/uganda/uganda_metadata.csv'
)

In [50]:
nolan_household_data = pd.read_csv(
    '/Users/leo/Documents/gpl/eop/overseen_work/nolan/uganda/uganda_household_data.csv'
)

In [49]:
nolan_metadata[nolan_metadata.variable_name.str.contains('h12q02_twodigit')]

,variable_name,variable_description,columns,module_name,module_description,data_type
92,h12q02_twodigit,h12q02_t .. N02. Industry code - Two digit ISI...,['h12q02_twodigit'],gsec12_2,Non-Agricultural Household Enterprises/Activities,categorical
162,h12q02_twodigit_missing,Indication of missing data in column named,"['h12q02_twodigit', 'h12q02_twodigit_missing']",missingness indicators,NaN,boolean

In [52]:
with pd.option_context('display.max_rows', 100):
     display(nolan_household_data[[c for c in nolan_household_data.columns if 'h12q0' in c]])

,h12q01_1,h12q02_oneDigit,h12q02_twoDigit,h12q02_threeDigit,h12q02_fourDigit
0,missing,missing,missing,missing,missing
1,2.0,71111.0,47.0,478.0,4789.0
2,1.0,31111.0,14.0,141222.0,1410.0
3,missing,missing,missing,missing,missing
4,missing,missing,missing,missing,missing
...,...,...,...,...,...
2579,missing,missing,missing,missing,missing
2580,missing,missing,missing,missing,missing
2581,missing,missing,missing,missing,missing
2582,missing,missing,missing,missing,missing
2583,2.0,71111.0,47.0,471.0,4719.0

In [57]:
nolan_household_data.groupby('s1aq04a').hh_wgt.nunique()

s1aq04a
AAKUM         1
ABANY         1
ABERIDWOGO    1
ABILIEP       1
ABIRA EAST    7
             ..
WORMWAKA      1
YAKINEMIJI    1
ZAMBIA        1
ZINGILI       1
ZUMA          1
Name: hh_wgt, Length: 663, dtype: int64

# Riya

In [3]:
riya_metadata = pd.read_csv(
    '/Users/leo/Documents/gpl/eop/overseen_work/riya/uganda_metadata.csv'
)

In [7]:
with pd.option_context('display.max_rows', 100):
    display(riya_metadata.groupby('module_name').unique_id.first().head(50))

module_name
AGSEC1                 hhid
AGSEC10                hhid
AGSEC11                hhid
AGSEC2A                hhid
AGSEC2B                hhid
AGSEC3A                hhid
AGSEC3A_1    interview__key
AGSEC3B                hhid
AGSEC3B_1    interview__key
AGSEC4A                hhid
AGSEC4B                hhid
AGSEC5A                hhid
AGSEC5B                hhid
AGSEC6A                hhid
AGSEC6B                hhid
AGSEC6C                hhid
AGSEC7                 hhid
AGSEC8A                hhid
AGSEC8B                hhid
AGSEC8C                hhid
AGSEC9A                hhid
AGSEC9B                hhid
CSEC11_0      interview__id
CSEC1A        interview__id
CSEC2         interview__id
CSEC2A        interview__id
CSEC2B        interview__id
CSEC2C        interview__id
CSEC2C_0      interview__id
CSEC3A        interview__id
CSEC3B        interview__id
CSEC3C        interview__id
CSEC3D        interview__id
CSEC3E        interview__id
CSEC3F        interview__id
CSEC3G        interview__id
CSEC3H        interview__id
CSEC3I        interview__id
CSEC3J        interview__id
CSEC3K        interview__id
CSEC3L        interview__id
CSEC3M        interview__id
CSEC3_0       interview__id
CSEC4A        interview__id
CSEC4B        interview__id
CSEC4C        interview__id
CSEC4D        interview__id
CSEC4E        interview__id
CSEC4F        interview__id
CSEC4G        interview__id
Name: unique_id, dtype: object

In [15]:
riya_metadata.module_name = riya_metadata.module_name.str.lower()
nolan_metadata.module_name = nolan_metadata.module_name.str.lower()
riya_primary_keys = riya_metadata.groupby('module_name')[['unique_id']].first()
nolan_primary_keys = nolan_metadata.groupby('module_name')[['unique_id']].first()
merged = nolan_primary_keys.join(riya_primary_keys, lsuffix='_nolan', rsuffix='_riya', how='outer')

In [19]:
with pd.option_context('display.max_rows', 150):
    display(merged)

            unique_id_nolan           unique_id_riya
module_name
agsec1                 hhid                  t0_hhid
agsec10                hhid                  s10q01a
agsec11                hhid                AGroup_ID
agsec2a                hhid                 parcelID
agsec2b                hhid                 parcelID
agsec3a                hhid                 parcelID
agsec3a_1    interview__key                 parcelID
agsec3b                hhid                 parcelID
agsec3b_1    interview__key                    pltid
agsec4a                hhid                 parcelID
agsec4b                hhid                 parcelID
agsec5a                hhid                 parcelID
agsec5b                hhid                 parcelID
agsec6a                hhid              LiveStockID
agsec6b                hhid      ALiveStock_Small_ID
agsec6c                hhid                   APCode
agsec7                 hhid                AGroup_ID
agsec8a                hhid                AGroup_ID
agsec8b                hhid                AGroup_ID
agsec8c                hhid                AGroup_ID
agsec9a                hhid                source_ID
agsec9b                hhid                     hhid
csec11_0      Final_EA_code            Final_EA_code
csec1a        Final_EA_code            Final_EA_code
csec2         Final_EA_code  Service_availabilty__id
csec2a        Final_EA_code            Final_EA_code
csec2b        Final_EA_code            Final_EA_code
csec2c        Final_EA_code            Final_EA_code
csec2c_0      Final_EA_code            Final_EA_code
csec3_0       Final_EA_code            Final_EA_code
csec3a        Final_EA_code                 s3r1__id
csec3b        Final_EA_code            Final_EA_code
csec3c        Final_EA_code      Water_facilities_id
csec3d        Final_EA_code               Payment_id
csec3e        Final_EA_code                  Year_id
csec3f        Final_EA_code          School_leave_id
csec3g        Final_EA_code         SchoolMeeting_id
csec3h        Final_EA_code              Position_id
csec3i        Final_EA_code     School_Monitoring_id
csec3j        Final_EA_code              Problems_id
csec3k        Final_EA_code                 Class_id
csec3l        Final_EA_code            Final_EA_code
csec3m        Final_EA_code            Final_EA_code
csec4a        Final_EA_code            Final_EA_code
csec4b        Final_EA_code            Final_EA_code
csec4c        Final_EA_code         Healthservice_id
csec4d        Final_EA_code            Final_EA_code
csec4e        Final_EA_code          Common_Stock_id
csec4f        Final_EA_code            Final_EA_code
csec4g        Final_EA_code            Final_EA_code
csec4h_1      Final_EA_code       C4H_ElementYear_id
csec4i        Final_EA_code            Final_EA_code
csec4j        Final_EA_code            Final_EA_code
csec4k        Final_EA_code            Final_EA_code
csec4l        Final_EA_code          Health_Water_id
csec4m        Final_EA_code              limiting_id
csec4n        Final_EA_code            Supervisor_id
csec4o        Final_EA_code            Final_EA_code
csec4p        Final_EA_code         medical_staff_id
csec4q        Final_EA_code            initiative_id
csec4r        Final_EA_code            Final_EA_code
csec5_0       Final_EA_code            Final_EA_code
csec5abc      Final_EA_code            Final_EA_code
csec5d        Final_EA_code                 Roads_id
csec5e        Final_EA_code            Final_EA_code
csec6a        Final_EA_code            Final_EA_code
csec6b        Final_EA_code      Community_groups_id
csec6c_1      Final_EA_code                   NGO_id
csec6d        Final_EA_code       community_needs_id
csec6e        Final_EA_code     Communal_Resource_id
gsec1                  hhid                     hhid
gsec10_1               hhid                     hhid
gsec10_3               hhid                   s10q13
gsec12_1               hhid                   s12q02
gsec12_2               hhid               entID_unps
gsec14                 hhid                   h14q02
gsec15a                hhid                     hhid
gsec15b                hhid                 coicop_3
gsec15b_2              hhid                     FF02
gsec15c                hhid                    CEC01
gsec15d                hhid                 coicop_1
gsec15e                hhid                    CEE02
gsec16                 hhid                  s16qa01
gsec17_1               hhid                     hhid
gsec19                 hhid                     hhid
gsec2                  hhid                      PID
gsec2b                 hhid                      PID
gsec2c                 hhid                      PID
gsec4                  hhid                      PID
gsec5                  hhid                      PID
gsec6_1                hhid                      PID
gsec6_2                hhid                      PID
gsec6_3                hhid                      PID
gsec6_4                hhid                      PID
gsec6_5                hhid                      PID
gsec7_1                hhid                     hhid
gsec7_2                hhid                     hhid
gsec7_4                hhid                      PID
gsec8                  hhid                      PID
gsec9                  hhid                     hhid
pov2019_20             hhid                     hhid
wsec1a                 hhid                      PID
wsec2                  hhid                      PID
wsec3                  hhid         contraception_id
wsec4                  hhid                  help_id
wsec5                  hhid                reason_id
wsec6                  hhid                     hhid
wsec7                  hhid                  food_id
wsec8                  hhid                      PID

# Puneet

In [107]:
puneet_metadata = pd.read_csv(
    '/Users/leo/Documents/gpl/eop/overseen_work/puneet/25SmrInt/output/albania_metadata.csv'
)

In [108]:
puneet_metadata_edited = pd.read_csv(
    '/Users/leo/Documents/gpl/eop/overseen_work/puneet/25SmrInt/output/albania_metadata_edited.csv'
)

In [109]:
puneet_metadata

,variable_name,variable_description,module_name,module_description,data_type,unique_id
0,m1a_q02,Sex,Modul_1A_householdroster,Module 1A - Household Roster,Discrete,id
1,m1a_q03,Relationship to Head,Modul_1A_householdroster,Module 1A - Household Roster,Discrete,id
2,m1a_q04,Date of Birth,Modul_1A_householdroster,Module 1A - Household Roster,Continuous,id
3,m1a_q05y,Age - Years,Modul_1A_householdroster,Module 1A - Household Roster,Continuous,id
4,m1a_q05m,Age - Months,Modul_1A_householdroster,Module 1A - Household Roster,Discrete,id
...,...,...,...,...,...,...
813,agap0,headcount poverty,poverty,Poverty,Discrete,hhid
814,agap1,poverty gap,poverty,Poverty,Continuous,hhid
815,agap2,poverty depth,poverty,Poverty,Continuous,hhid
816,hh_key,NaN,Weight_lsms2012_retro,Weights,Continuous,hhid
817,pesha10tetor,NaN,Weight_lsms2012_retro,Weights,Continuous,hhid

In [ ]:
differences = puneet_metadata.compare(puneet_metadata_edited)
rows_with_differences = differences.index

for idx in rows_with_differences:
    row_original = puneet_metadata.loc[idx]
    row_edited = puneet_metadata_edited.loc[idx]
    combined_row = row_original.copy()
    
    for col in differences.columns.levels[0]:
        if differences.at[idx, (col, 'self')] != differences.at[idx, (col, 'other')]:
            combined_row[col + '_original'] = differences.at[idx, (col, 'self')]
            combined_row[col + '_edited'] = differences.at[idx, (col, 'other')]
            combined_row.drop(col, inplace=True)
    
    combined_row.name = idx
    combined_row_df = combined_row.to_frame().T
    
    if 'result_df' in locals():
        result_df = pd.concat([result_df, combined_row_df], axis=0)
    else:
        result_df = combined_row_df

display(result_df)

In [118]:
hhid_collated = pd.read_csv(
    '/Users/leo/Documents/gpl/eop/overseen_work/puneet/25SmrInt/output/hhid_collated.csv',
    low_memory=False
)
id_collated = pd.read_csv(
    '/Users/leo/Documents/gpl/eop/overseen_work/puneet/25SmrInt/output/id_collated.csv',
    low_memory=False
)

In [123]:
hhid_collated.m6c_q02

0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                               [26.0, 28.0]
                        ...
6666                            [28.0, 33.0]
6667    [38.0, 33.0, 31.0, 39.0, 30.0, 32.0]
6668                                     NaN
6669                                  [29.0]
6670                                  [20.0]
Name: m6c_q02, Length: 6671, dtype: object

## Athena

In [168]:
hh_table = pd.read_csv(
    (
        '/Users/leo/Documents/gpl/eop/overseen_work/athena/results/uganda_2025_03_20/2019 LSMS Uganda '
        'Data Table_2025.03.20.csv'
    ),
    low_memory=False
)

In [172]:
hh_table.hh_male_members.value_counts()

hh_male_members
1     751
2     749
3     595
4     355
.     251
5     200
6     104
7      44
8      18
9       4
0       3
10      3
11      1
Name: count, dtype: int64

# Achu

In [147]:
achu_module_selection = pd.read_csv(
    '/Users/leo/Documents/gpl/eop/overseen_work/achu/Module_selection_2025_03_19.csv'
)

In [148]:
achu_module_selection

,module_name,module_description,Data Unit,included (Y/N),reason
0,CSEC2A,Land use and planning,Enumeration Area,Y,Services available in the area
1,CSEC4B,Health Facility - Availability of equipment/ s...,Enumeration Area,Y,Presence of health services in area
2,CSEC4O,Village Health Teams,Enumeration Area,Y,Availability of health services for different ...
3,CSEC5ABC,Infrastructure,Enumeration Area,Y,Presence of roads in areas
4,GSEC10_3,Energy use,Household,Y,Cooking fuel used
...,...,...,...,...,...
104,CSEC3G,School meetings,Type of Meeting,N,"Information about schools on an area level, no..."
105,CSEC3C,Water facilities at the School,Water Facility Type,N,"Information about schools on an area level, no..."
106,CSEC4L,Access to Water at the Health facility,Water Facility Type,N,Attributes of health facility not considered r...
107,CSEC3E,Academic Performance of pupils in PLE,Year,N,Educational attainment by area
108,CSEC3F,Incidence of leaving school prematurely,Year,N,"Information about schools on an area level, no..."

In [162]:
my_module_selection = pd.read_csv(
    '/Users/leo/Documents/gpl/eop/data/uganda/cleaned/uganda_modules_with_selection.csv'
)
achu_module_selection.module_name = achu_module_selection.module_name.str.lower()
achu_module_selection.rename(columns={
    'included (Y/N)': 'include_achu'
}, inplace=True)
achu_module_selection.replace({'Y': True, 'N': False}, inplace=True)
my_module_selection.rename(columns={
    'include': 'include_my'
}, inplace=True)
merged = achu_module_selection.merge(
    my_module_selection[['module_name', 'include_my']], 
    on='module_name', 
    how='left'
)

/var/folders/l3/jdqjbmvx4c39mkfwcnm559y00000gn/T/ipykernel_64977/3015032896.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  achu_module_selection.replace({'Y': True, 'N': False}, inplace=True)

In [167]:
merged[merged.include_achu]

,module_name,module_description,Data Unit,include_achu,reason,include_my
0,csec2a,Land use and planning,Enumeration Area,True,Services available in the area,True
1,csec4b,Health Facility - Availability of equipment/ s...,Enumeration Area,True,Presence of health services in area,True
2,csec4o,Village Health Teams,Enumeration Area,True,Availability of health services for different ...,True
3,csec5abc,Infrastructure,Enumeration Area,True,Presence of roads in areas,True
4,gsec10_3,Energy use,Household,True,Cooking fuel used,True
5,gsec14,Household Assets,Household,True,Consumer durables,True
6,gsec12_1,Non-Agricultural Household Enterprises/Activities,Household,True,Ownership of a non-farm enterprise,True
7,gsec12_2,Non-Agricultural Household Enterprises/Activities,Household,True,Ownership of a non-farm enterprise,True
8,gsec15b,"Household Consumption Expenditures – Food, Bev...",Household,True,Consumption information,False
9,gsec15c,Household Consumption Expenditures – Non-Durab...,Household,True,Consumption information,False
10,gsec15d,Household Consumption Expenditures – Semi-dura...,Household,True,Consumption information,False
11,agsec1,Household Identification Particulars,Household,True,Household assets: Productive agricultural assets,True
12,agsec10,Farm Implements and Machinery Implement item,Household,True,Household assets: Productive agricultural assets,True
13,gsec1,Household Identification Particulars,Household,True,Urban / rural,True
14,gsec7_1,Savings,Household,True,Financial assets,False
15,gsec7_2,"Sources of income, financial decisions",Household,True,Financial assets,False
16,gsec9,"Housing Conditions, Water and Sanitation",Household,True,Dwelling characteristics,True
17,gsec10_1,Energy Use,Household,True,Access to electricity,True
18,gsec15a,Number of people present for meals,Household,True,Household demographics,False
19,gsec19,Link with the Agriculture Questionnaire,Household,True,May be useful to link to agricultural data,True
20,pov2019_20,Consumption aggregate dataset,Household,True,Consumption data,True
21,agsec7,Livestock Inputs,Household,True,Household assets: Productive agricultural assets,False
22,agsec8b,Livestock Production,Household,True,Household assets: Productive agricultural assets,False
23,agsec8c,Livestock Production,Household,True,Household assets: Productive agricultural assets,False
24,agsec8a,Livestock Production,Household,True,Household assets: Productive agricultural assets,False
25,agsec6a,Livestock Ownership – Cattle and Pack Animals,Household,True,Household assets: Productive agricultural assets,True
26,agsec6b,Livestock Ownership – Small Animals,Household,True,Household assets: Productive agricultural assets,True
27,agsec6c,Livestock Ownership – Poultry and Others,Household,True,Household assets: Productive agricultural assets,True
28,agsec11,Animal Power,Household,True,Household assets: Productive agricultural assets,False
29,agsec2a,Current Land Holdings - 1st/2nd Visit,Household,True,Household assets: Productive agricultural assets,True
30,agsec2b,Land That the Household Has Access Through Use...,Household,True,Household assets: Productive agricultural assets,False
31,agsec3a,Agriculture and Labour Inputs – 1st Visit,Household,True,Household assets: Productive agricultural assets,False
32,gsec2,Household Roster,Individual,True,Data on all household members,True
33,gsec4,Education,Individual,True,Educational attainment by person,True
34,gsec7_4,"Loans, credit and borrowing",Individual,True,Financial assets,False
35,gsec8,Labour Force Status,Individual,True,Occupational data (FILE NOT UTF-8 ENCODED),True
36,agsec3b,Agriculture and Labour Inputs – 2nd Visit,Parcel-Plot,True,Household assets: Productive agricultural asse...,False
37,agsec4a,Crops Grown and Types of Seeds Used – 1st Visit,Parcel-Plot-Crop,True,Household assets: Productive agricultural assets,False
38,agsec4b,Crops Grown and Types of Seed Used – 2nd Visit,Parcel-Plot-Crop,True,Household assets: Productive agricultural assets,False
39,agsec5a,Quantification of Production – 1st Visit,Parcel-Plot-Crop,True,Household assets: Productive agricultural assets,False
40,agsec5b,Quantification of Production – 2nd Visit,Parcel-Plot-Crop,True,Household assets: Productive agricultural assets,False
41,csec2,Service Availability in LC1,Service Type,True,Services available in the area,True
42,csec4c,Services offered by Health facility,Service Type,True,Presence of health services in area,True
43,csec6a,Community characteristics,Type,True,Community characteristics,True

In [164]:
merged[merged.include_achu != merged.include_my]

,module_name,module_description,Data Unit,include_achu,reason,include_my
8,gsec15b,"Household Consumption Expenditures – Food, Bev...",Household,True,Consumption information,False
9,gsec15c,Household Consumption Expenditures – Non-Durab...,Household,True,Consumption information,False
10,gsec15d,Household Consumption Expenditures – Semi-dura...,Household,True,Consumption information,False
14,gsec7_1,Savings,Household,True,Financial assets,False
15,gsec7_2,"Sources of income, financial decisions",Household,True,Financial assets,False
18,gsec15a,Number of people present for meals,Household,True,Household demographics,False
21,agsec7,Livestock Inputs,Household,True,Household assets: Productive agricultural assets,False
22,agsec8b,Livestock Production,Household,True,Household assets: Productive agricultural assets,False
23,agsec8c,Livestock Production,Household,True,Household assets: Productive agricultural assets,False
24,agsec8a,Livestock Production,Household,True,Household assets: Productive agricultural assets,False
28,agsec11,Animal Power,Household,True,Household assets: Productive agricultural assets,False
30,agsec2b,Land That the Household Has Access Through Use...,Household,True,Household assets: Productive agricultural assets,False
31,agsec3a,Agriculture and Labour Inputs – 1st Visit,Household,True,Household assets: Productive agricultural assets,False
34,gsec7_4,"Loans, credit and borrowing",Individual,True,Financial assets,False
36,agsec3b,Agriculture and Labour Inputs – 2nd Visit,Parcel-Plot,True,Household assets: Productive agricultural asse...,False
37,agsec4a,Crops Grown and Types of Seeds Used – 1st Visit,Parcel-Plot-Crop,True,Household assets: Productive agricultural assets,False
38,agsec4b,Crops Grown and Types of Seed Used – 2nd Visit,Parcel-Plot-Crop,True,Household assets: Productive agricultural assets,False
39,agsec5a,Quantification of Production – 1st Visit,Parcel-Plot-Crop,True,Household assets: Productive agricultural assets,False
40,agsec5b,Quantification of Production – 2nd Visit,Parcel-Plot-Crop,True,Household assets: Productive agricultural assets,False
47,csec1a,Identification Particulars,Enumeration Area,False,General identification details of area,True
49,csec2c,Water and Sanitation - toilets,Enumeration Area,False,"Information about toilets on an area level, no...",True
50,csec2c_0,Water and Sanitation,Enumeration Area,False,"Information about water on an area level, not ...",True
51,csec3_0,Education (primary education),Enumeration Area,False,"Information about schools on an area level, no...",True
52,csec3b,Condition of toilets at the School,Enumeration Area,False,"Information about schools on an area level, no...",True
55,csec4a,Health Facility - Work at Night,Enumeration Area,False,"Information about health services, not presenc...",True
61,csec4k,Sanitary Facilities Available at the Health Fa...,Enumeration Area,False,Attributes of health facility not considered r...,True
63,csec5_0,Works and Transport,Enumeration Area,False,Unclear what data relates to,True
67,csec3a,Availability of Facilities at School,Facility Type,False,"Information about schools on an area level, no...",True
68,csec6b,Community groups,Group Code,False,Community groups not considered relevant,True
82,wsec2,Section 2: Age and Marital status,Individual,False,Marital status not considered relevant,True
84,wsec8,Section 8: Biological measurements,Individual,False,Biological measurements not considered relevant,True
88,csec6c_1,NGOs in the community,NGO,False,NGO presence not considered relevant,True
105,csec3c,Water facilities at the School,Water Facility Type,False,"Information about schools on an area level, no...",True
106,csec4l,Access to Water at the Health facility,Water Facility Type,False,Attributes of health facility not considered r...,True

# Raw data

In [58]:
path_to_raw = Path(
    '/Users/leo/Documents/gpl/eop/data/uganda/UGA_2019_UNPS_v03_M_STATA14'
)

ag1, ag1_meta = pyreadstat.read_dta(path_to_raw / 'Agric' / 'agsec1.dta')
hh1, hh1_meta = pyreadstat.read_dta(path_to_raw / 'HH' / 'GSEC3_10.dta')
comm, comm_meta = pyreadstat.read_dta(path_to_raw / 'Community' / 'CSEC1A.dta')
comm2, comm2_meta = pyreadstat.read_dta(path_to_raw / 'Community' / 'CSEC2.dta')
gsec8, gsec8_meta = pyreadstat.read_dta(path_to_raw / 'HH' / 'GSEC8.dta')

PyreadstatError: File /Users/leo/Documents/gpl/eop/data/uganda/UGA_2019_UNPS_v03_M_STATA14/HH/GSEC3_10.dta does not exist!

In [216]:
gsec8[[c for c in gsec8.columns if 'h8q19b' in c]]

,h8q19b_oneDigit,h8q19b_twoDigit,h8q19b_threeDigit,h8q19b_fourDigit,h8q19b_superConfirm
0,6,63,633,6330,1
1,2,23,234,2341,1
2,6,63,633,6330,1
3,6,63,633,6330,1
4,6,61,611,6111,1
...,...,...,...,...,...
11188,NaN,NaN,NaN,NaN,NaN
11189,9,92,921,9212,1
11190,6,63,633,6330,1
11191,5,52,521,5211,1
11192,6,63,631,6310,1

In [217]:
ag1[['t0_hhid', 'hhid']].nunique()

t0_hhid    2586
hhid       2586
dtype: int64

In [226]:
comm.groupby(['s1aq01b', 's1aq02b', 's1aq03b', 's1aq04b']).Final_EA_code.nunique().sort_values()

s1aq01b  s1aq02b  s1aq03b  s1aq04b
101      2        4        2          1
317      1        1        1          1
315      1        5        3          1
314      1        5        1          1
                  3        4          1
                                     ..
124      1        1        5          2
325      1        3        6          2
102      1        3        5          2
210      3        6        4          2
307      1        8        3          3
Name: Final_EA_code, Length: 296, dtype: int64

In [224]:
comm_meta.column_names_to_labels

{'Final_EA_code': 'Enumeration Area Unique identifier',
 'interview__id': 'Unique 32-character long identifier of the interview',
 's1aq01b': '....District Code',
 's1aq02b': '....County/Municipality Code',
 's1aq03b': '....Sub-County/Division/Town Council Code',
 's1aq04b': '....Parish/Ward Code',
 'Batch': 'Batch Sequence Number'}

In [179]:
nolan_metadata[nolan_metadata.module_name == 'csec1a']

,variable_name,variable_description,data_type,data_format,module_name,unique_id,module_description
658,Final_EA_code,.. Enumeration Area Unique identifier,discrete,character-12,csec1a,Final_EA_code,Identification Particulars
659,interview__id,- 2 intervie .. Unique 32-character long ident...,discrete,character-32,csec1a,Final_EA_code,Identification Particulars
660,s1aq01b,....District Code,discrete,character-3,csec1a,Final_EA_code,Identification Particulars
661,s1aq02b,....County/Municipality Code,discrete,character-1,csec1a,Final_EA_code,Identification Particulars
662,s1aq03b,....Sub-County/Division/ Town Council Code,discrete,character-2,csec1a,Final_EA_code,Identification Particulars
663,s1aq04b,....Parish/Ward Code,discrete,character-2,csec1a,Final_EA_code,Identification Particulars
664,Batch,Batch Sequence Number,continuous,numeric-6.0,csec1a,Final_EA_code,Identification Particulars

In [ ]:
comm_meta.column_names_to_labels

{'EA_code': 'Village code',
 't0_EA_code': 'Wave5 Village code',
 'c1aq01b': '....District Code',
 'c1aq02b': '....County/Municipality Code',
 'c1aq03b': '....Sub-County/Division/Town Council Code',
 's1aq04b': '....Parish/Ward Code',
 's1aq05b': '....EA Code',
 'interview__key': 'Interview key (identifier in XX-XX-XX-XX format)',
 's1aq06__1': '6.Sector:Service Availability in LC1',
 's1aq06__2': '6.Sector:Education',
 's1aq06__3': '6.Sector:Health',
 's1aq06__4': '6.Sector:Road Infrastructure'}

In [197]:
nolan_metadata.module_name.unique()

array(['agsec1', 'agsec2a', 'agsec2b', 'agsec3a', 'agsec3a_1', 'agsec3b',
       'agsec3b_1', 'agsec4a', 'agsec4b', 'agsec5a', 'agsec5b', 'agsec6a',
       'agsec6b', 'agsec6c', 'agsec7', 'agsec8a', 'agsec8b', 'agsec8c',
       'agsec9a', 'agsec9b', 'agsec10', 'agsec11', 'csec1a', 'csec2',
       'csec2a', 'csec2b', 'csec2c', 'csec2c_0', 'csec3_0', 'csec3a',
       'csec3b', 'csec3c', 'csec3d', 'csec3e', 'csec3f', 'csec3g',
       'csec3h', 'csec3i', 'csec3j', 'csec3k', 'csec3l', 'csec3m',
       'csec4a', 'csec4b', 'csec4c', 'csec4d', 'csec4e', 'csec4f',
       'csec4g', 'csec4h_1', 'csec4i', 'csec4j', 'csec4k', 'csec4l',
       'csec4m', 'csec4n', 'csec4o', 'csec4p', 'csec4q', 'csec4r',
       'csec5_0', 'csec5abc', 'csec5d', 'csec5e', 'csec6a', 'csec6b',
       'csec6c_1', 'csec6d', 'csec6e', 'csec11_0', 'gsec1', 'gsec2',
       'gsec2b', 'gsec2c', 'gsec4', 'gsec5', 'gsec6_1', 'gsec6_2',
       'gsec6_3', 'gsec6_4', 'gsec6_5', 'gsec7_1', 'gsec7_2', 'gsec7_4',
       'gsec8', 'gsec9', 'gsec10_1', 'gsec10_3', 'gsec12_1', 'gsec12_2',
       'gsec14', 'gsec15a', 'gsec15b', 'gsec15b_2', 'gsec15c', 'gsec15d',
       'gsec15e', 'gsec16', 'gsec17_1', 'gsec19', 'wsec1a', 'wsec2',
       'wsec3', 'wsec4', 'wsec5', 'wsec6', 'wsec7', 'wsec8', 'pov2019_20'],
      dtype=object)

In [198]:
comm.groupby(['c1aq01b', 'c1aq02b', 'c1aq03b', 's1aq04b'])

In [203]:
comm[['EA_code', 's1aq05b']]

                              EA_code     s1aq05b
0    00928229c3e64db9a66fd1f0d4dff345
1    03e3d013ed9a4a7b9e72a04e5867ed88
2    0548b11d746b41149960bad12ade2187          17
3    06aeb38cf33a4c6b9ad71262908541eb
4    06c492654e8342fabe3ec8af1aad4cef  1074030603
..                                ...         ...
300  fd09bf6c0d16410f9135f36ef5e6993b  1241070106
301  fd39653b0c2d49a2b86bf992b96cf4d0           5
302  fe70d97f97424e029d2757d98e8d9723  1221050203
303  fecc0f5ccad940ceb621e46eb9f59f77
304  fffa2187e3d447b085ed6aedd03b38da           1

[305 rows x 2 columns]

In [232]:
hh1, hh1_meta = pyreadstat.read_dta(path_to_raw / 'HH' / 'GSEC1.dta')
hh1_meta.column_names_to_labels

{'hhid': 'Unique household identifier in 2019/20',
 'hhidold': 'Unique hh indentifier  for wave7 :SUSO',
 'batch': 'Household batch',
 'region': '4 Region',
 'regurb': '4 Region by Urban /Rural',
 'subreg': '15 Sub region',
 'district': ' District Name',
 'dc_2018': 'District Code',
 's1aq02a': '2. County/Municipality',
 'cc_2018': 'County/Municipality Code',
 's1aq03a': '3. Sub-County/Division/Town Council',
 'sc_2018': 'Sub-County/Division/Town Council Code',
 's1aq04a': '4. Parish/Ward',
 'pc_2018': 'Parish/Ward Code',
 'urban': '7. Rural/Urban',
 'response_status': 'Response Status',
 'year': 'Year of Interview',
 'month': 'Month of Interview',
 'day': 'Day of Interview',
 'wave': ' Wave 8 data set',
 'wgt': 'Cross sectional weight 2019/2020'}